<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis 测试用配置文件 -->
<configuration>
	<environments default="develop">
		<environment id="develop">
			<transactionManager type="com.ttgis.recruit.utility.TransactionManager">
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
				<property name="url" value="jdbc:sqlserver://172.16.10.9:1433;databaseName=Recruit"></property>
				<property name="username" value="sa"></property>
				<property name="password" value="Admin110"></property>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/ttgis/recruit/Mapper/TkglMapper.xml" />
	</mappers>
</configuration>
