.jygl a{ fontsize:14px; text-decoration: none; padding:0px 10px; line-height:50px; color:#000; border:1px solid #ccc; background-color:#f0f0f0;}
.jygl a:hover{ fontsize:14px; text-decoration: none; padding:0px 10px; line-height:50px; color:#005bac; background-color:#fff;}
