@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
p,ul,li,dl,dd,dt,span{ margin:0px; padding:0px; display:block;}
body{ margin:0px; padding:0px; font-family:"宋体"; font-size:12px;}
#all{ width:98%; margin:0 auto;}
.editBlock{ height:0px; line-height:50px; float:left;}
.subtitle{  height:80px; line-height:50px;margin:0 auto; border:1px solid #dcdcdc; margin-top:20px;}
.subtitle .content{ text-align:right;}
.subtitle .title,.subtitle_pl .title{ width:100%; height:30px; line-height:30px; background-color:#eeeeee; border-bottom:1px solid #dcdcdc;}
.dataGrid{ width:730px; overflow:hidden; border:1px solid #dcdcdc; margin-top:20px;} 
.dataGrid span{ display:block; width:1500px; overflow:hidden; padding:5px;}
.data_btn{ width:100%; height:30px; line-height:30px; background-color:#eeeeee;}
.data_btn .one{ display:block; width:10px; float:right; height:30px; padding:0px;}
.data_btn .two{ display:block; width:90px; float:right; height:30px; padding:0px;}
.subtitle_pl{ width:100%; overflow:hidden; margin:0 auto; border:1px solid #dcdcdc; margin-top:20px;}
.pl{ width:98%; overflow:hidden; margin:0 auto;}
.comments-item-bd{ width:100%; overflow:hidden; line-height:30px; margin:15px 0px;border-bottom:1px dashed #CCC;}
.comments-item-bd .name{ line-height:30px; padding-right:10px; overflow:hidden; font-size:14px; font-weight:bold; color:#005bac; float:left; }
.comments-item-bd .con{ float:left; line-height:30px;}
.comments-item-bd .del{ width:20px; height:30px; float:right; cursor: pointer;}
.comments-item-bd .del img{ vertical-align:middle;}
.comments-item-bd .time{ line-height:20px; font-size:12px; color:#999;}
.btn a{ line-height:30px; font-size:12px; color:005bac; text-decoration:none;}
.comments-list{ width:90%; margin:0 auto;}
.comments-list .del{ cursor: pointer;}
.fenye td span{ float:left;}








