<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttgis.recruit.Mapper.Resume_xnzwMapper" >
  <resultMap id="BaseResultMap" type="com.ttgis.recruit.domain.Resume_xnzw" >
    <id column="RESUME_ID" property="resumeId" jdbcType="VARCHAR" />
    
    <id column="RESUME_XNZWID" property="resumeXnzwid" jdbcType="VARCHAR" />
    
    <id column="RESUME_RZSJ1" property="resumeRzsj1" jdbcType="VARCHAR" />
   
    <result column="RESUME_XNZWMC" property="resumeXnzwmc" jdbcType="VARCHAR" />
    <result column="RESUME_RZSJ" property="resumeRzsj" jdbcType="VARCHAR" />
    <result column="RESUME_ZZHYJ" property="resumeZzhyj" jdbcType="VARCHAR" />
  
    <result column="RESUME_ADDTIME" property="resumeAddtime" jdbcType="TIMESTAMP" />
    <result column="RESUME_DELFLAG" property="resumeDelflag" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    RESUME_ID,RESUME_XNZWID,RESUME_RZSJ1, RESUME_XNZWMC, RESUME_RZSJ, 
    RESUME_ZZHYJ,RESUME_ADDTIME, RESUME_DELFLAG
  </sql>
 <update id="updateByXnzwId" parameterType="com.ttgis.recruit.domain.Resume_xnzw" >
 	update RESUME_XNZW
 	<set>
 		<if test="resumeXnzwmc !=null">
 			RESUME_XNZWMC=#{resumeXnzwmc,jdbcType=VARCHAR},
 		</if>
 		<if test="resumeRzsj !=null">
 			RESUME_RZSJ=#{resumeRzsj,jdbcType=VARCHAR},
 		</if>
 		<if test="resumeRzsj1 !=null">
 			RESUME_RZSJ1=#{resumeRzsj1,jdbcType=VARCHAR},
 		</if>
 		<if test="resumeZzhyj !=null">
 			RESUME_ZZHYJ=#{resumeZzhyj,jdbcType=VARCHAR},
 		</if>
 		<if test="resumeAddtime != null" >
        RESUME_ADDTIME = #{resumeAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="resumeDelflag != null" >
        RESUME_DELFLAG = #{resumeDelflag,jdbcType=NUMERIC},
      </if>
 	</set>
 	where RESUME_XNZWID = #{resumeXnzwid,jdbcType=VARCHAR}
 </update>
  <insert id="XnzwinsertSelective" parameterType="com.ttgis.recruit.domain.Resume_xnzw" >
    insert into RESUME_XNZW
     <trim prefix="(" suffix=")" suffixOverrides="," >
     <if test="resumeXnzwid != null" >
        RESUME_XNZWID,
      </if>
     <if test="resumeId != null" >
        RESUME_ID,
      </if>
     <if test="resumeXnzwmc != null" >
        RESUME_XNZWMC,
      </if>
      <if test="resumeRzsj != null" >
        RESUME_RZSJ,
      </if>
      <if test="resumeRzsj1 != null" >
        RESUME_RZSJ1,
      </if>
      <if test="resumeZzhyj != null" >
        RESUME_ZZHYJ,
      </if>
      <if test="resumeAddtime != null" >
        RESUME_ADDTIME,
      </if>
      <if test="resumeDelflag != null" >
        RESUME_DELFLAG,
      </if>
      </trim>
     <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resumeXnzwid != null" >
        #{resumeXnzwid,jdbcType=VARCHAR},
      </if>
      <if test="resumeId != null" >
        #{resumeId,jdbcType=VARCHAR},
      </if>
      <if test="resumeXnzwmc != null" >
        #{resumeXnzwmc,jdbcType=VARCHAR},
      </if>
      <if test="resumeRzsj != null" >
        #{resumeRzsj,jdbcType=VARCHAR},
      </if>
      <if test="resumeRzsj1 != null" >
        #{resumeRzsj1,jdbcType=VARCHAR},
      </if>
      <if test="resumeZzhyj != null" >
        #{resumeZzhyj,jdbcType=VARCHAR},
      </if>
      <if test="resumeAddtime != null" >
        #{resumeAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="resumeDelflag != null" >
        #{resumeDelflag,jdbcType=NUMERIC},
      </if>
      </trim>
  </insert>
   <select id="getlistResumeXnzwByResumeId" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT *
		FROM RESUME_XNZW
		WHERE RESUME_ID =#{resumeId,jdbcType=VARCHAR} ORDER BY RESUME_ADDTIME 
  </select>
  <delete id="deleteByXnzwid" parameterType="java.lang.String" >
    delete from RESUME_XNZW
    where RESUME_XNZWID = #{resumeXnzwid,jdbcType=VARCHAR}
  </delete>
  </mapper>