<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttgis.recruit.Mapper.Resume_sjjlMapper" >
<resultMap id="BaseResultMap" type="com.ttgis.recruit.domain.Resume_sjjl" >
    <id column="RESUME_ID" property="resumeId" jdbcType="VARCHAR" />
    <id column="RESUME_SJJLID" property="resumeSjjlid" jdbcType="VARCHAR" />
    <id column="RESUME_SJSJ1" property="resumeSjsj1" jdbcType="VARCHAR" />
    <result column="RESUME_SJMC" property="resumeSjmc" jdbcType="VARCHAR" />
    <result column="RESUME_SJSJ" property="resumeSjsj" jdbcType="VARCHAR" />
    <result column="RESUME_SJMS" property="resumeSjms" jdbcType="VARCHAR" />
    <result column="RESUME_ADDTIME" property="resumeAddtime" jdbcType="TIMESTAMP" />
    <result column="RESUME_DELFLAG" property="resumeDelflag" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    RESUME_ID,RESUME_SJJLID,RESUME_SJSJ1, RESUME_SJMC, RESUME_SJSJ, RESUME_SJMS, RESUME_ADDTIME, RESUME_DELFLAG
  </sql>
<update id="updateBySjjlId" parameterType="com.ttgis.recruit.domain.Resume_sjjl" >
 	update RESUME_SJJL
 	<set>
 		<if test="resumeSjmc !=null">
 			RESUME_SJMC=#{resumeSjmc,jdbcType=VARCHAR},
 		</if>
 		<if test="resumeSjsj !=null">
 			RESUME_SJSJ=#{resumeSjsj,jdbcType=VARCHAR},
 		</if>
 		<if test="resumeSjsj1 !=null">
 			RESUME_SJSJ1=#{resumeSjsj1,jdbcType=VARCHAR},
 		</if>
 		<if test="resumeSjms !=null">
 			RESUME_SJMS=#{resumeSjms,jdbcType=VARCHAR},
 		</if>
 		<if test="resumeAddtime != null" >
        RESUME_ADDTIME = #{resumeAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="resumeDelflag != null" >
        RESUME_DELFLAG = #{resumeDelflag,jdbcType=NUMERIC},
      </if>
 	</set>
 	where RESUME_SJJLID = #{resumeSjjlid,jdbcType=VARCHAR}
 </update>
  <insert id="SjjlinsertSelective" parameterType="com.ttgis.recruit.domain.Resume_sjjl" >
    insert into RESUME_SJJL
     <trim prefix="(" suffix=")" suffixOverrides="," >
     <if test="resumeSjjlid != null" >
        RESUME_SJJLID,
      </if>
     <if test="resumeId != null" >
        RESUME_ID,
      </if>
     <if test="resumeSjmc != null" >
        RESUME_SJMC,
      </if>
      <if test="resumeSjsj != null" >
        RESUME_SJSJ,
      </if>
      <if test="resumeSjsj1 != null" >
        RESUME_SJSJ1,
      </if>
      <if test="resumeSjms != null" >
        RESUME_SJMS,
      </if>
      <if test="resumeAddtime != null" >
        RESUME_ADDTIME,
      </if>
      <if test="resumeDelflag != null" >
        RESUME_DELFLAG,
      </if>
      </trim>
     <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resumeSjjlid != null" >
        #{resumeSjjlid,jdbcType=VARCHAR},
      </if>
      <if test="resumeId != null" >
        #{resumeId,jdbcType=VARCHAR},
      </if>
      <if test="resumeSjmc != null" >
        #{resumeSjmc,jdbcType=VARCHAR},
      </if>
      <if test="resumeSjsj != null" >
        #{resumeSjsj,jdbcType=VARCHAR},
      </if>
      <if test="resumeSjsj1 != null" >
        #{resumeSjsj1,jdbcType=VARCHAR},
      </if>
      <if test="resumeSjms != null" >
        #{resumeSjms,jdbcType=VARCHAR},
      </if>
      <if test="resumeAddtime != null" >
        #{resumeAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="resumeDelflag != null" >
        #{resumeDelflag,jdbcType=NUMERIC},
      </if>
      </trim>
  </insert>
  <select id="getlistResumeSjjlByResumeId" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT *
		FROM RESUME_SJJL
		WHERE RESUME_ID =#{resumeId,jdbcType=VARCHAR} ORDER BY RESUME_ADDTIME
  </select>
  <delete id="deleteBySjjlid" parameterType="java.lang.String" >
    delete from RESUME_SJJL
    where RESUME_SJJLID = #{resumeSjjlid,jdbcType=VARCHAR}
  </delete>
 </mapper>