<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttgis.recruit.Mapper.ResumeMapper">
	<resultMap id="BaseResultMap" type="com.ttgis.recruit.domain.Resume">
		<id column="RESUME_ID" property="resumeId" jdbcType="VARCHAR" />
		<id column="RESUME_FJID" property="resumeFjid" jdbcType="VARCHAR" />
		<result column="RESUME_NAME" property="resumeName" jdbcType="VARCHAR" />
		<result column="RESUME_SEX" property="resumeSex" jdbcType="VARCHAR" />
		<result column="RESUME_BIRTHDAY" property="resumeBirthday" jdbcType="TIMESTAMP" />
		<result column="RESUME_SFZH" property="resumeSfzh" jdbcType="VARCHAR" />
		<result column="RESUME_RXQHKSZCS_PROVINCE" property="resumeRxqhkszcsProvince" jdbcType="VARCHAR" />
		<result column="RESUME_RXQHKSZCS_CITY" property="resumeRxqhkszcsCity" jdbcType="VARCHAR" />
		<result column="RESUME_MQSZCS_PROVINCE" property="resumeMqszcsProvince" jdbcType="VARCHAR" />
		<result column="RESUME_MQSZCS_CITY" property="resumeMqszcsCity" jdbcType="VARCHAR" />
		<result column="RESUME_PHOTOS" property="resumePhotos" jdbcType="VARCHAR" />
		<result column="RESUME_TELPHONE" property="resumeTelphone" jdbcType="NUMERIC" />
		<result column="RESUME_EMAIL" property="resumeEmail" jdbcType="VARCHAR" />
		<result column="RESUME_FJ" property="resumeFj" jdbcType="VARCHAR" />
		<result column="RESUME_ADDTIME" property="resumeAddtime" jdbcType="TIMESTAMP" />
		<result column="RESUME_DELFLAG" property="resumeDelflag" jdbcType="NUMERIC" />
		<result column="RESUME_ZZJL" property="resumeZzjl" jdbcType="VARCHAR" />
		
		
		<result column="RESUME_ITJTJN" property="resumeItjtjn" 	jdbcType="VARCHAR" />
		<result column="RESUME_HDZS"   property="resumeHdzs" 	jdbcType="VARCHAR" />
		<result column="RESUME_QTZS"   property="resumeQtzs" 	jdbcType="VARCHAR" />
		<result column="RESUME_ITSXJN" property="resumeItsxjn" 	jdbcType="VARCHAR" />
		<result column="RESUME_QTJN"   property="resumeQtjn" 	jdbcType="TIMESTAMP" />
	    <result column="RESUME_CJGZSJ" property="resumeCjgzsj" 	jdbcType="TIMESTAMP" />
		<result column="RESUME_NYPGW1" property="resumeNypgw1" 	jdbcType="VARCHAR" />
		<result column="RESUME_NYPGW2" property="resumeNypgw2" 	jdbcType="VARCHAR" /> 
		
		<result column="RESUME_ZZMM" property="resumeZzmm" 	jdbcType="VARCHAR" /> 
		<result column="RESUME_ZCZG" property="resumeZczg" 	jdbcType="VARCHAR" /> 
		<result column="RESUME_BGSDH" property="resumeBgSdh" 	jdbcType="VARCHAR" /> 
		<result column="RESUME_XUEW" property="resumeXuew" 	jdbcType="VARCHAR" /> 
		<result column="RESUME_JCQK" property="resumeJcqk" 	jdbcType="VARCHAR" /> 
		<result column="RESUME_PXQK" property="resumePxqk" 	jdbcType="VARCHAR" /> 
		<result column="RESUME_SXHZJN" property="resumeSxhzjn" 	jdbcType="VARCHAR" /> 
		<result column="RESUME_XQAH" property="resumeXqah" 	jdbcType="VARCHAR" /> 
		
	</resultMap>
	<sql id="Base_Column_List">
		RESUME_ID,RESUME_FJID,RESUME_NAME, RESUME_SEX, RESUME_BIRTHDAY, RESUME_SFZH,RESUME_RXQHKSZCS_PROVINCE,
		RESUME_RXQHKSZCS_CITY,
		RESUME_MQSZCS_PROVINCE, RESUME_MQSZCS_CITY, RESUME_PHOTOS,RESUME_TELPHONE,
		RESUME_EMAIL,RESUME_FJ,RESUME_ADDTIME, RESUME_DELFLAG, RESUME_ZZJL,
		
		RESUME_ITJTJN,RESUME_HDZS,RESUME_QTZS,RESUME_ITSXJN,RESUME_QTJN,RESUME_CJGZSJ,RESUME_NYPGW1,RESUME_NYPGW2, 
		
		RESUME_ZZMM,RESUME_ZCZG,RESUME_BGSDH,RESUME_XUEW,RESUME_JCQK,RESUME_PXQK,RESUME_SXHZJN,RESUME_XQAH
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from RESUME
		where RESUME_ID = #{resumeId,jdbcType=VARCHAR}
	</select>
	<select id="selectByPrimaryKeySelectiveById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select *
		from RESUME
		where RESUME_ID = #{resumeId,jdbcType=VARCHAR} ORDER BY RESUME_ADDTIME
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from RESUME
		where RESUME_ID = #{resumeId,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="com.ttgis.recruit.domain.Resume">
		insert into RESUME
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="resumeId != null">
				RESUME_ID,
			</if>
			<if test="resumeName != null">
				RESUME_NAME,
			</if>
			<if test="resumeSex != null">
				RESUME_SEX,
			</if>
			<if test="resumeBirthday != null">
				RESUME_BIRTHDAY,
			</if>
			<if test="resumeSfzh != null">
				RESUME_SFZH,
			</if>
			<if test="resumeRxqhkszcsProvince != null">
				RESUME_RXQHKSZCS_PROVINCE,
			</if>
			<if test="resumeRxqhkszcsCity != null">
				RESUME_RXQHKSZCS_CITY,
			</if>
			<if test="resumeMqszcsProvince != null">
				RESUME_MQSZCS_PROVINCE,
			</if>
			<if test="resumeMqszcsCity != null">
				RESUME_MQSZCS_CITY,
			</if>
			<if test="resumeTelphone != null">
				RESUME_TELPHONE,
			</if>
			<if test="resumeEmail != null">
				RESUME_EMAIL,
			</if>
			<if test="resumeAddtime != null">
				RESUME_ADDTIME,
			</if>
			<if test="resumeDelflag != null">
				RESUME_DELFLAG,
			</if>
			
			<if test="resumeItjtjn != null">
				RESUME_ITJTJN,
			</if>
			<if test="resumeHdzs != null">
				RESUME_HDZS,
			</if>
			<if test="resumeQtzs != null">
				RESUME_QTZS,
			</if>
			<if test="resumeItsxjn != null">
				RESUME_ITSXJN,
			</if>
			<if test="resumeQtjn != null">
				RESUME_QTJN,
			</if>
			<if test="resumeCjgzsj != null">
				RESUME_CJGZSJ,
			</if>
			<if test="resumeNypgw1 != null">
				RESUME_NYPGW1,
			</if>
			<if test="resumeNypgw2 != null">
				RESUME_NYPGW2,
			</if>
			
			<if test="resumeZzmm != null">
				RESUME_ZZMM,
			</if>
			<if test="resumeZczg != null">
				RESUME_ZCZG,
			</if>
			<if test="resumeBgSdh != null">
				RESUME_BGSDH,
			</if>
			<if test="resumeXuew != null">
				RESUME_XUEW,
			</if>
			<if test="resumeJcqk != null">
				RESUME_JCQK,
			</if>
			<if test="resumePxqk != null">
				RESUME_PXQK,
			</if>
			<if test="resumeSxhzjn != null">
				RESUME_SXHZJN,
			</if>
			<if test="resumeXqah != null">
				RESUME_XQAH,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="resumeId != null">
				#{resumeId,jdbcType=VARCHAR},
			</if>
			<if test="resumeName != null">
				#{resumeName,jdbcType=VARCHAR},
			</if>
			<if test="resumeSex != null">
				#{resumeSex,jdbcType=VARCHAR},
			</if>
			<if test="resumeBirthday != null">
				#{resumeBirthday,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeSfzh != null">
				#{resumeSfzh,jdbcType=VARCHAR},
			</if>
			<if test="resumeRxqhkszcsProvince != null">
				#{resumeRxqhkszcsProvince,jdbcType=VARCHAR},
			</if>
			<if test="resumeRxqhkszcsCity != null">
				#{resumeRxqhkszcsCity,jdbcType=VARCHAR},
			</if>
			<if test="resumeMqszcsProvince != null">
				#{resumeMqszcsProvince,jdbcType=VARCHAR},
			</if>
			<if test="resumeMqszcsCity != null">
				#{resumeMqszcsCity,jdbcType=VARCHAR},
			</if>
			<if test="resumeTelphone != null">
				#{resumeTelphone,jdbcType=VARCHAR},
			</if>
			<if test="resumeEmail != null">
				#{resumeEmail,jdbcType=VARCHAR},
			</if>
			<if test="resumeAddtime != null">
				#{resumeAddtime,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeDelflag != null">
				#{resumeDelflag,jdbcType=NUMERIC},
			</if>
			
			<if test="resumeItjtjn != null">
				#{resumeItjtjn,jdbcType=VARCHAR},
			</if>
			<if test="resumeHdzs != null">
				#{resumeHdzs,jdbcType=VARCHAR},
			</if>
			<if test="resumeQtzs != null">
				#{resumeQtzs,jdbcType=VARCHAR},
			</if>
			<if test="resumeItsxjn != null">
				#{resumeItsxjn,jdbcType=VARCHAR},
			</if>
			<if test="resumeQtjn != null">
				#{resumeQtjn,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeCjgzsj != null">
				#{resumeCjgzsj,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeNypgw1 != null">
				#{resumeNypgw1,jdbcType=VARCHAR},
			</if>
			<if test="resumeNypgw2 != null">
				#{resumeNypgw2,jdbcType=VARCHAR},
			</if>
			
			<if test="resumeZzmm != null">
				#{resumeZzmm,jdbcType=VARCHAR},
			</if>
			<if test="resumeZczg != null">
				#{resumeZczg,jdbcType=VARCHAR},
			</if>
			<if test="resumeBgSdh != null">
				#{resumeBgSdh,jdbcType=VARCHAR},
			</if>
			<if test="resumeXuew != null">
				#{resumeXuew,jdbcType=VARCHAR},
			</if>
			<if test="resumeJcqk != null">
				#{resumeJcqk,jdbcType=VARCHAR},
			</if>
			<if test="resumePxqk != null">
				#{resumePxqk,jdbcType=VARCHAR},
			</if>
			<if test="resumeSxhzjn != null">
				#{resumeSxhzjn,jdbcType=VARCHAR},
			</if>
			<if test="resumeXqah != null">
				#{resumeXqah,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.ttgis.recruit.domain.Resume">
		update RESUME
		<set>
			<if test="resumeName != null">
				RESUME_NAME = #{resumeName,jdbcType=VARCHAR},
			</if>
			<if test="resumeSex != null">
				RESUME_SEX = #{resumeSex,jdbcType=VARCHAR},
			</if>
			<if test="resumeBirthday != null">
				RESUME_BIRTHDAY = #{resumeBirthday,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeSfzh != null">
				RESUME_SFZH = #{resumeSfzh,jdbcType=VARCHAR},
			</if>
			<if test="resumeRxqhkszcsProvince != null">
				RESUME_RXQHKSZCS_PROVINCE =
				#{resumeRxqhkszcsProvince,jdbcType=VARCHAR},
			</if>
			<if test="resumeRxqhkszcsCity != null">
				RESUME_RXQHKSZCS_CITY = #{resumeRxqhkszcsCity,jdbcType=VARCHAR},
			</if>
			<if test="resumeMqszcsProvince != null">
				RESUME_MQSZCS_PROVINCE = #{resumeMqszcsProvince,jdbcType=VARCHAR},
			</if>
			<if test="resumeMqszcsCity != null">
				RESUME_MQSZCS_CITY = #{resumeMqszcsCity,jdbcType=VARCHAR},
			</if>
			<if test="resumePhotos != null">
				RESUME_PHOTOS = #{resumePhotos,jdbcType=VARCHAR},
			</if>
			<if test="resumeTelphone != null">
				RESUME_TELPHONE = #{resumeTelphone,jdbcType=NUMERIC},
			</if>
			<if test="resumeEmail != null">
				RESUME_EMAIL = #{resumeEmail,jdbcType=VARCHAR},
			</if>
			<if test="resumeAddtime != null">
				RESUME_ADDTIME = #{resumeAddtime,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeDelflag != null">
				RESUME_DELFLAG = #{resumeDelflag,jdbcType=NUMERIC},
			</if>
			<if test="resumeZzjl != null">
				RESUME_ZZJL = #{resumeZzjl,jdbcType=VARCHAR},
			</if>
			
			
			<if test="resumeItjtjn != null">
				RESUME_ITJTJN = #{resumeItjtjn,jdbcType=VARCHAR},
			</if>
			<if test="resumeHdzs != null">
				RESUME_HDZS = #{resumeHdzs,jdbcType=VARCHAR},
			</if>
			<if test="resumeQtzs != null">
				RESUME_QTZS = #{resumeQtzs,jdbcType=VARCHAR},
			</if>
			<if test="resumeItsxjn != null">
				RESUME_ITSXJN = #{resumeItsxjn,jdbcType=VARCHAR},
			</if>
			<if test="resumeQtjn != null">
				RESUME_QTJN = #{resumeQtjn,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeCjgzsj != null">
				RESUME_CJGZSJ = #{resumeCjgzsj,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeNypgw1 != null">
				RESUME_NYPGW1 = #{resumeNypgw1,jdbcType=VARCHAR},
			</if>
			<if test="resumeNypgw2 != null">
				RESUME_NYPGW2 = #{resumeNypgw2,jdbcType=VARCHAR},
			</if>
			
			
			<if test="resumeZzmm != null">
				RESUME_ZZMM = #{resumeZzmm,jdbcType=VARCHAR},
			</if>
			<if test="resumeZczg != null">
				RESUME_ZCZG = #{resumeZczg,jdbcType=VARCHAR},
			</if>
			<if test="resumeBgSdh != null">
				RESUME_BGSDH = #{resumeBgSdh,jdbcType=VARCHAR},
			</if>
			<if test="resumeXuew != null">
				RESUME_XUEW = #{resumeXuew,jdbcType=VARCHAR},
			</if>
			<if test="resumeJcqk != null">
				RESUME_JCQK = #{resumeJcqk,jdbcType=VARCHAR},
			</if>
			<if test="resumePxqk != null">
				RESUME_PXQK = #{resumePxqk,jdbcType=VARCHAR},
			</if>
			<if test="resumeSxhzjn != null">
				RESUME_SXHZJN = #{resumeSxhzjn,jdbcType=VARCHAR},
			</if>
			<if test="resumeXqah != null">
				RESUME_XQAH = #{resumeXqah,jdbcType=VARCHAR},
			</if>
			
			
			
		</set>
		where RESUME_ID = #{resumeId,jdbcType=VARCHAR}
	</update>
	<insert id="FjinsertSelective" parameterType="com.ttgis.recruit.domain.Resume">
		insert into RESUME_FJ
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="resumeFjid != null">
				RESUME_FJID,
			</if>
			<if test="resumeId != null">
				RESUME_ID,
			</if>
			<if test="resumeFj != null">
				RESUME_FJ,
			</if>
			<if test="resumeAddtime != null">
				RESUME_ADDTIME,
			</if>
			<if test="resumeDelflag != null">
				RESUME_DELFLAG,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="resumeFjid != null">
				#{resumeFjid,jdbcType=VARCHAR},
			</if>
			<if test="resumeId != null">
				#{resumeId,jdbcType=VARCHAR},
			</if>
			<if test="resumeFj != null">
				#{resumeFj,jdbcType=VARCHAR},
			</if>
			<if test="resumeAddtime != null">
				#{resumeAddtime,jdbcType=TIMESTAMP},
			</if>
			<if test="resumeDelflag != null">
				#{resumeDelflag,jdbcType=NUMERIC},
			</if>
		</trim>
	</insert>
</mapper>
