<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttgis.recruit.Mapper.ZpxwMapper">
	<resultMap id="BaseResultMap" type="com.ttgis.recruit.domain.Zpxw">
		<id column="ZPXW_ID" property="zpxwId" jdbcType="VARCHAR" />
		<result column="ZZJG_ID" property="zzjgId" jdbcType="VARCHAR" />
		<result column="ZPXW_TITLE" property="zpxwTitle" jdbcType="VARCHAR" />
		<result column="ZPXW_FBSJ" property="zpxwFbsj" jdbcType="TIMESTAMP" />
		<result column="ZPXW_KQZT" property="zpxwKqzt" jdbcType="VARCHAR" />
		<result column="ZPXW_SFZPRC" property="zpxwSfzprc" jdbcType="VARCHAR" />
		<result column="ZPXW_ADDTIME" property="zpxwAddtime" jdbcType="TIMESTAMP" />
		<result column="ZPXW_ADDCOMPANY" property="zpxwAddcompany" jdbcType="VARCHAR" />
		<result column="ZPXW_DELFLAG" property="zpxwDelflag" jdbcType="NUMERIC" />
		<result column="ZPXW_TOP" property="zpxwTop" jdbcType="NUMERIC" />
		<result column="ZPXW_TOPRTIME" property="topRtime" jdbcType="DATE" />
		<result column="ZPXW_TOPlTIME" property="topLtime" jdbcType="DATE" />
		<result column="ZPXW_SFZPRC" property="zpxwSfzprc" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.ttgis.recruit.domain.Zpxw"
		extends="BaseResultMap">
		<result column="ZPXW_CONTENT" property="zpxwContent" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ZPXW_ID, ZZJG_ID, ZPXW_TITLE, ZPXW_FBSJ, ZPXW_KQZT,
		ZPXW_SFZPRC,
		ZPXW_ADDTIME, ZPXW_ADDCOMPANY,
		ZPXW_DELFLAG
	</sql>
	<sql id="Blob_Column_List">
		ZPXW_CONTENT
	</sql>
	<select id="selectZprc" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.String">
		select top 1
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from ZPXW
		where ZPXW_SFZPRC = '是' and ZZJG_ID =
		#{strZzjgId,jdbcType=VARCHAR} order by ZPXW_ADDTIME desc
	</select>
	<select id="select" resultMap="ResultMapWithBLOBs">
		select *
		from (select top 5 *
		from (select top 5 T.*
		from (select
		row_number() over(order by zpxw_id desc) as num,
		*
		from (select top
		(select COUNT(*) from zpxw)
		<include refid="Base_Column_List" />
		from ZPXW
		where ZZJG_ID = 'test001'
		and ZPXW_ADDTIME between
		dateadd(month, -1, getdate()) and
		getdate()
		order by zpxw_top asc, ZPXW_ADDTIME desc)
		tq
		union all
		select row_number() over(order by zpxw_id desc) + ( select
		COUNT(*)
		from (select top (select COUNT(*) from zpxw)
		<include refid="Base_Column_List" />
		from ZPXW
		where ZZJG_ID = 'test001'
		and ZPXW_ADDTIME between
		dateadd(month, -1, getdate()) and
		getdate()
		order by zpxw_top asc, ZPXW_ADDTIME desc)
		tq) as num,
		*
		from (select top (select COUNT(*) from zpxw)
		<include refid="Base_Column_List" />
		from ZPXW
		where ZPXW_ID not in
		(select ZPXW_ID
		from ZPXW
		where ZZJG_ID =
		'test001'
		and ZPXW_ADDTIME between
		dateadd(month, -1, getdate()) and
		getdate())
		order by zpxw_top asc, ZPXW_ADDTIME desc) tt) T
		where ZPXW_DELFLAG = 1
		order by num) as t1
		order by num DESC) as t2
		order by num
	</select>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from ZPXW
		where ZPXW_ID = #{zpxwId,jdbcType=VARCHAR}
	</select>
	<select id="selectCount" resultType="java.lang.Integer"
		parameterType="com.ttgis.recruit.domain.ZzjgCondition">
		select count(*)
		from ZPXW
		where ZPXW_DELFLAG=1
		<trim suffixOverrides=",">
			<if test="keywords != null and keywords != ''">
				and ZPXW_TITLE like '%${keywords}%'
			</if>
			<if test="ZPXW_CONTENT != null and ZPXW_CONTENT != ''">
				and ZPXW_CONTENT like '%${ZPXW_CONTENT}%'
			</if>
			<if test="ZZJG_ID != null and ZZJG_ID != ''">
				and ZZJG_ID='${ZZJG_ID}'
			</if>
			<if test="SFZPRC != null and SFZPRC != ''">
				and ZPXW_SFZPRC='${SFZPRC}'
			</if>
			<if test="zpxwAddcompany != null and zpxwAddcompany != ''">
				and ZPXW_ADDCOMPANY like '%${zpxwAddcompany}%'
			</if>
			<if test="zpxwSchool != null and zpxwSchool != ''">
				and ZPXW_CONTENT like '%${zpxwSchool}%'
			</if>
		</trim>
	</select>
	<select id="selectByWhere" resultMap="ResultMapWithBLOBs"
		parameterType="com.ttgis.recruit.domain.ZzjgCondition">
		select *
		from (select top ${currentPageSize} *
		from (select
		top(${pageNum}*${pageSize}) T.* from ( select row_number() over(order
		by zpxw_id desc) as num,*
		from (select top (select COUNT(*) from zpxw)
		*
		from ZPXW
		where ZZJG_ID = 'test001'
		and ZPXW_ADDTIME between
		dateadd(month, -1, getdate()) and
		getdate()
		order by zpxw_top asc, ZPXW_ADDTIME desc)
		tq
		union all
		select row_number() over(order by zpxw_id desc) + ( select
		COUNT(*)
		from (select top (select COUNT(*) from zpxw) *
		from ZPXW
		where
		ZZJG_ID = 'test001'
		and ZPXW_ADDTIME between dateadd(month, -1,
		getdate()) and
		getdate()
		order by zpxw_top asc, ZPXW_ADDTIME desc) tq) as num,*
		from
		(select top (select COUNT(*)
		from zpxw) *
		from ZPXW
		where ZPXW_ID not in
		(select ZPXW_ID
		from ZPXW
		where ZZJG_ID = 'test001'
		and ZPXW_ADDTIME
		between dateadd(month, -1,
		getdate()) and
		getdate())
		order by zpxw_top asc,
		ZPXW_ADDTIME desc) tt) T where
		ZPXW_DELFLAG=1
		<trim suffixOverrides=",">
			<if test="keywords != null and keywords != ''">
				and ZPXW_TITLE like '%${keywords}%'
			</if>
			<if test="ZPXW_CONTENT != null and ZPXW_CONTENT != ''">
				and ZPXW_CONTENT like '%${ZPXW_CONTENT}%'
			</if>
			<if test="ZZJG_ID != null and ZZJG_ID != ''">
				and ZZJG_ID like '${ZZJG_ID}'
			</if>
			<if test="SFZPRC != null and SFZPRC != ''">
				and ZPXW_SFZPRC='${SFZPRC}'
			</if>
			<if test="zpxwAddcompany != null and zpxwAddcompany != ''">
				and ZPXW_ADDCOMPANY like '%${zpxwAddcompany}%'
			</if>
			<if test="zpxwSchool != null and zpxwSchool != ''">
				and ZPXW_CONTENT like '%${zpxwSchool}%'
			</if>
		</trim>
		order by num ) as t1
		order by num DESC) as t2
		order by
		num
	</select>
	<!-- 置顶新闻 -->
	<select id="selectZpxwByWhereTop" resultMap="ResultMapWithBLOBs"
		parameterType="com.ttgis.recruit.domain.ZzjgCondition">
		<![CDATA[
		select * from ZPXW where ZPXW_DELFLAG=1 AND ZPXW_TOP=0 AND getdate()<= ZPXW_TOPlTIME
		]]>
	</select>
	<!-- 非置顶新闻count -->
	<select id="selectCountNoTop" resultType="java.lang.Integer"
		parameterType="com.ttgis.recruit.domain.ZzjgCondition">
		select count(*)
		from ZPXW
		<![CDATA[ where ZPXW_DELFLAG=1 AND ( getdate()> ZPXW_TOPlTIME or ZPXW_TOPlTIME  is null) ]]>
		<trim suffixOverrides=",">
			<if test="keywords != null and keywords != ''">
				and ZPXW_TITLE like '%${keywords}%'
			</if>
			<if test="ZPXW_CONTENT != null and ZPXW_CONTENT != ''">
				and ZPXW_CONTENT like '%${ZPXW_CONTENT}%'
			</if>
			<if test="ZZJG_ID != null and ZZJG_ID != ''">
				and ZZJG_ID='${ZZJG_ID}'
			</if>
			<if test="SFZPRC != null and SFZPRC != ''">
				and ZPXW_SFZPRC='${SFZPRC}'
			</if>
		</trim>
	</select>
	<!-- 非置顶新闻 -->
	<select id="selectZpxwByWhereNoTop" resultMap="ResultMapWithBLOBs"
		parameterType="com.ttgis.recruit.domain.ZzjgCondition">
		select *
		from (select top ${currentPageSize} *
		from (select
		top(${pageNum} * ${pageSize}) *
		from ZPXW T
		<![CDATA[ where ZPXW_DELFLAG=1 AND ( getdate()> ZPXW_TOPlTIME or ZPXW_TOPlTIME  is null) ]]>
		<trim suffixOverrides=",">
			<if test="keywords != null and keywords != ''">
				and ZPXW_TITLE like '%${keywords}%'
			</if>
			<if test="ZPXW_CONTENT != null and ZPXW_CONTENT != ''">
				and ZPXW_CONTENT like '%${ZPXW_CONTENT}%'
			</if>
			<if test="ZZJG_ID != null and ZZJG_ID != ''">
				and ZZJG_ID like '${ZZJG_ID}'
			</if>
			<if test="SFZPRC != null and SFZPRC != ''">
				and ZPXW_SFZPRC='${SFZPRC}'
			</if>
		</trim>
		order by zpxw_top asc, ZPXW_ADDTIME desc) as t1
		order by ZPXW_ADDTIME ) as t2
		order by ZPXW_ADDTIME desc
	</select>
	<select id="selectZpxwByWhere" resultMap="ResultMapWithBLOBs"
		parameterType="com.ttgis.recruit.domain.ZzjgCondition">
		select *
		from (select top ${currentPageSize} *
		from (select
		top(${pageNum} * ${pageSize}) *
		from ZPXW T
		where ZPXW_DELFLAG = 1
		<trim suffixOverrides=",">
			<if test="keywords != null and keywords != ''">
				and ZPXW_TITLE like '%${keywords}%'
			</if>
			<if test="ZPXW_CONTENT != null and ZPXW_CONTENT != ''">
				and ZPXW_CONTENT like '%${ZPXW_CONTENT}%'
			</if>
			<if test="ZZJG_ID != null and ZZJG_ID != ''">
				and ZZJG_ID like '${ZZJG_ID}'
			</if>
			<if test="SFZPRC != null and SFZPRC != ''">
				and ZPXW_SFZPRC='${SFZPRC}'
			</if>
		</trim>
		order by zpxw_top asc, ZPXW_ADDTIME desc) as t1
		order by ZPXW_ADDTIME asc) as t2
		order by  ZPXW_ADDTIME desc
	</select>
	<select id="selectInformationCenterByWhere" resultMap="ResultMapWithBLOBs"
		parameterType="com.ttgis.recruit.domain.ZzjgCondition">
		select *
		from (select top ${currentPageSize} *
		from (select
		top(${pageNum}*${pageSize}) T.* from ( select row_number() over(order
		by zpxw_id desc) as num,*
		from (select top (select COUNT(*) from zpxw)
		<include refid="Base_Column_List" />
		from ZPXW
		where ZZJG_ID = 'test001'
		and ZPXW_ADDTIME between
		dateadd(month, -1, getdate()) and
		getdate()
		order by zpxw_top asc, ZPXW_ADDTIME desc)
		tq
		union all
		select row_number() over(order by zpxw_id desc) + ( select
		COUNT(*)
		from (select top (select COUNT(*) from zpxw)
		<include refid="Base_Column_List" />
		from ZPXW
		where
		ZZJG_ID = 'test001'
		and ZPXW_ADDTIME between
		dateadd(month, -1,
		getdate()) and
		getdate()
		order by zpxw_top asc, ZPXW_ADDTIME desc)
		tq) as num,*
		from
		(select top (select COUNT(*)
		from zpxw)
		<include refid="Base_Column_List" />
		from ZPXW
		where ZPXW_ID not in
		(select ZPXW_ID
		from ZPXW
		where ZZJG_ID =
		'test001'
		and ZPXW_ADDTIME
		between dateadd(month, -1,
		getdate()) and
		getdate())
		order by zpxw_top asc,
		ZPXW_ADDTIME desc) tt) T where
		ZPXW_DELFLAG=1
		<trim suffixOverrides=",">
			<if test="keywords != null and keywords != ''">
				and ZPXW_TITLE like '%${keywords}%'
			</if>
			<if test="ZPXW_CONTENT != null and ZPXW_CONTENT != ''">
				and ZPXW_CONTENT like '%${ZPXW_CONTENT}%'
			</if>
			<if test="ZZJG_ID != null and ZZJG_ID != ''">
				and ZZJG_ID like '${ZZJG_ID}'
			</if>
			<if test="SFZPRC != null and SFZPRC != ''">
				and ZPXW_SFZPRC='${SFZPRC}'
			</if>
		</trim>
		order by num ) as t1
		order by num DESC) as t2
		order by
		num
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from ZPXW
		where ZPXW_ID = #{zpxwId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.ttgis.recruit.domain.Zpxw">
		insert into ZPXW (ZPXW_ID,
		ZZJG_ID, ZPXW_TITLE,
		ZPXW_FBSJ, ZPXW_KQZT,
		ZPXW_SFZPRC,
		ZPXW_ADDTIME,
		ZPXW_ADDCOMPANY, ZPXW_DELFLAG,
		ZPXW_CONTENT)
		values
		(#{zpxwId,jdbcType=VARCHAR}, #{zzjgId,jdbcType=VARCHAR},
		#{zpxwTitle,jdbcType=VARCHAR},
		#{zpxwFbsj,jdbcType=TIMESTAMP},
		#{zpxwKqzt,jdbcType=VARCHAR}, #{zpxwSfzprq,jdbcType=VARCHAR},
		#{zpxwAddtime,jdbcType=TIMESTAMP}, #{zpxwAddcompany,jdbcType=VARCHAR},
		#{zpxwDelflag,jdbcType=NUMERIC},
		#{zpxwContent,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ttgis.recruit.domain.Zpxw">
		insert into ZPXW
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zpxwId != null">
				ZPXW_ID,
			</if>
			<if test="zzjgId != null">
				ZZJG_ID,
			</if>
			<if test="zpxwTitle != null">
				ZPXW_TITLE,
			</if>
			<if test="zpxwFbsj != null">
				ZPXW_FBSJ,
			</if>
			<if test="zpxwKqzt != null">
				ZPXW_KQZT,
			</if>
			<if test="zpxwSfzprc != null">
				ZPXW_SFZPRC,
			</if>
			<if test="zpxwAddtime != null">
				ZPXW_ADDTIME,
			</if>
			<if test="zpxwAddcompany != null">
				ZPXW_ADDCOMPANY,
			</if>
			<if test="zpxwDelflag != null">
				ZPXW_DELFLAG,
			</if>
			<if test="zpxwContent != null">
				ZPXW_CONTENT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zpxwId != null">
				#{zpxwId,jdbcType=VARCHAR},
			</if>
			<if test="zzjgId != null">
				#{zzjgId,jdbcType=VARCHAR},
			</if>
			<if test="zpxwTitle != null">
				#{zpxwTitle,jdbcType=VARCHAR},
			</if>
			<if test="zpxwFbsj != null">
				#{zpxwFbsj,jdbcType=TIMESTAMP},
			</if>
			<if test="zpxwKqzt != null">
				#{zpxwKqzt,jdbcType=VARCHAR},
			</if>
			<if test="zpxwSfzprc != null">
				#{zpxwSfzprc,jdbcType=VARCHAR},
			</if>
			<if test="zpxwAddtime != null">
				#{zpxwAddtime,jdbcType=TIMESTAMP},
			</if>
			<if test="zpxwAddcompany != null">
				#{zpxwAddcompany,jdbcType=VARCHAR},
			</if>
			<if test="zpxwDelflag != null">
				#{zpxwDelflag,jdbcType=NUMERIC},
			</if>
			<if test="zpxwContent != null">
				#{zpxwContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="setTop" parameterType="com.ttgis.recruit.domain.Zpxw">
		update ZPXW
		<set>
			<if test="zpxwTop != null">
				ZPXW_TOP = #{zpxwTop,jdbcType=NUMERIC},
			</if>
			<if test="topLtime != null">
				ZPXW_TOPlTIME = #{topLtime,jdbcType=TIMESTAMP}
			</if>
		</set>
		where ZPXW_ID = #{zpxwId,jdbcType=VARCHAR}
	</update>
	<update id="updateTopTime" parameterType="com.ttgis.recruit.domain.Zpxw">
		update ZPXW
		<set>
			<if test="topRtime != null and topLtime != null">
				ZPXW_TOPRTIME = #{topRtime,jdbcType=TIMESTAMP}, ZPXW_TOPlTIME = #{topLtime,jdbcType=TIMESTAMP}
			</if>
		</set>
		where ZPXW_ID = #{zpxwId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.ttgis.recruit.domain.Zpxw">
		update ZPXW
		<set>
			<if test="zzjgId != null">
				ZZJG_ID = #{zzjgId,jdbcType=VARCHAR},
			</if>
			<if test="zpxwTitle != null">
				ZPXW_TITLE = #{zpxwTitle,jdbcType=VARCHAR},
			</if>
			<if test="zpxwFbsj != null">
				ZPXW_FBSJ = #{zpxwFbsj,jdbcType=TIMESTAMP},
			</if>
			<if test="zpxwKqzt != null">
				ZPXW_KQZT = #{zpxwKqzt,jdbcType=VARCHAR},
			</if>
			<if test="zpxwSfzprc != null">
				ZPXW_SFZPRC = #{zpxwSfzprc,jdbcType=VARCHAR},
			</if>
			<if test="zpxwAddtime != null">
				ZPXW_ADDTIME = #{zpxwAddtime,jdbcType=TIMESTAMP},
			</if>
			<if test="zpxwAddcompany != null">
				ZPXW_ADDCOMPANY = #{zpxwAddcompany,jdbcType=VARCHAR},
			</if>
			<if test="zpxwDelflag != null">
				ZPXW_DELFLAG = #{zpxwDelflag,jdbcType=NUMERIC},
			</if>
			<if test="zpxwContent != null">
				ZPXW_CONTENT = #{zpxwContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where ZPXW_ID = #{zpxwId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ttgis.recruit.domain.Zpxw">
		update
		ZPXW
		set ZZJG_ID = #{zzjgId,jdbcType=VARCHAR},
		ZPXW_TITLE =
		#{zpxwTitle,jdbcType=VARCHAR},
		ZPXW_FBSJ =
		#{zpxwFbsj,jdbcType=TIMESTAMP},
		ZPXW_KQZT =
		#{zpxwKqzt,jdbcType=VARCHAR},
		ZPXW_SFZPRC =
		#{zpxwSfzprc,jdbcType=VARCHAR},
		ZPXW_ADDTIME =
		#{zpxwAddtime,jdbcType=TIMESTAMP},
		ZPXW_ADDCOMPANY =
		#{zpxwAddcompany,jdbcType=VARCHAR},
		ZPXW_DELFLAG =
		#{zpxwDelflag,jdbcType=NUMERIC},
		ZPXW_CONTENT =
		#{zpxwContent,jdbcType=LONGVARCHAR}
		where ZPXW_ID =
		#{zpxwId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ttgis.recruit.domain.Zpxw">
		update ZPXW
		set
		ZZJG_ID = #{zzjgId,jdbcType=VARCHAR},
		ZPXW_TITLE =
		#{zpxwTitle,jdbcType=VARCHAR},
		ZPXW_FBSJ =
		#{zpxwFbsj,jdbcType=TIMESTAMP},
		ZPXW_KQZT =
		#{zpxwKqzt,jdbcType=VARCHAR},
		ZPXW_SFZPRC =
		#{zpxwSfzprc,jdbcType=VARCHAR},
		ZPXW_ADDTIME =
		#{zpxwAddtime,jdbcType=TIMESTAMP},
		ZPXW_ADDCOMPANY =
		#{zpxwAddcompany,jdbcType=VARCHAR},
		ZPXW_DELFLAG =
		#{zpxwDelflag,jdbcType=NUMERIC}
		where ZPXW_ID =
		#{zpxwId,jdbcType=VARCHAR}
	</update>
</mapper>