@charset "utf-8";
/* CSS Document */
body,ul,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
img{ border:none; vertical-align:middle;}
body{ font-family:"微软雅黑"; font-size:12px; min-width:980px; background:url(../../images/cpgl/cpBG.jpg);}
.clr{ zoom:1;}
.clr:after{display:block;clear:both;content:"";}

                                            /*测评模块CSS*/
/*登陆*/
#cploginBg{ width:100%; height:151px; margin-top:150px; background:url(../../images/cpgl/cp_loginbg.jpg) repeat-x;}
.cplogin{ width:1010px; height:151px; margin:0 auto; background:url(../../images/cpgl/cp_loginbg01.jpg) no-repeat center top; font-family:"微软雅黑"; font-size:30px; color:#FFF; font-weight:bold; text-align:center; line-height:150px;letter-spacing:10px;}
.cpList{ width:400px; overflow:hidden; margin:0 auto; padding-top:50px; min-height:400px;}
.cpList td{ height:40px; line-height:40px; font-size:16px;}
.cpList input{ width:200px; height:20px; line-height:20px;}
.cpList a{ display:block; width:137px; height:39px; background:url(../../images/cpgl/cp_btn.png) no-repeat; text-align:center; line-height:39px; color:#FFF; font-size:14px; font-weight:bold;}
/*诚信声明*/
#top{ width:1050px; height:116px; background:url(../../images/cpgl/cpTop.jpg) no-repeat; margin:0 auto;}
#content{ width:1030px; height:600px; background-color:#FFF; margin:0 auto; padding:10px; position:relative;}
.conMain{ width:550px; margin:0 auto; padding-top:30px;}
.conMain h3{ font-size:20px;letter-spacing:5px; font-family:"微软雅黑"; line-height:50px; text-align:center;}
.conMain p{ font-size:14px; font-family:"微软雅黑"; line-height:30px; text-indent:2em; letter-spacing:3px;}
.btn{ display:block; width:172px; height:49px; margin:0 auto; background:url(../../images/cpgl/cpBTN.jpg) no-repeat; margin-top:50px; text-align:center; line-height:49px; color:#FFF; text-decoration:none;}

/*footer*/
#footer{ width:980px; text-align:center; margin:0 auto; margin-top:20px; }
#footer p{ line-height:20px; text-align:center; color:#999;}
/*县浮*/
.go{display:none; z-index:9999; width:177px; overflow:hidden;position:fixed;_position:absolute;bottom:0px; right:0px; left:50%; margin-left:490px;}

/*考试说明*/
.conTitle{ height:40px; line-height:40px; font-size:14px; color:#0067bb; font-weight:bold;}
.conTitle img{ vertical-align:middle; padding-right:10px;}
.conDetails p{ line-height:30px; text-indent:2em;}
/*共享声明*/
.contable{ width:960px; margin:0 auto;}
.contable td{ height:25px; line-height:25px; font-size:14px; font-family:"微软雅黑";}
.Unit{ width:950px; margin:0 auto;}
.Unit li{ line-height:30px; font-size:14px;}
/*选择考试种类*/
#content h3{ text-align:center; font-size:20px; font-weight:normal; letter-spacing:3px; padding-top:20px;}
.manageBtn{ width:345px; height:183px; position:absolute; top:120px; left:100px; background:url(../../images/cpgl/manageBtn.jpg) no-repeat;}
.technologyBtn{ width:345px; height:183px; position:absolute; top:120px; left:583px; background:url(../../images/cpgl/technologyBtn.jpg) no-repeat;}
.manbtn,.tecbtn{display:block; width:137px; height:39px; text-align:center; font-size:12px; line-height:39px; color:#FFF; text-decoration:none;background:url(../../images/cpgl/cp_btn.png) no-repeat;}
.manbtn{position:absolute; top:120px; left:170px;}
.tecbtn{ position:absolute; top:120px; left:170px;}
.otherexam{ width:200px; height:30px; position:absolute; top:400px; right:0px;}
.otherexam a{font-size:14px; font-weight:bold; color:#007eca;}
/*测评试卷页*/
#fixd{ width:1050px; height:156px; position:fixed; top:0px; left:50%; margin-left:-525px;}
#contentmain{ width:1050px; height:600px; background-color:#FFF; margin:0 auto;}
#contentmain01{ width:1050px; overflow:hidden; background-color:#FFF; margin:0 auto;}
.conLeft{ width:140px; height:600px; float:left; background-color:#e9e9e9; text-align:center; position:relative;}
.conLeftPic{ width:140px; position:absolute; bottom:5px; text-align:center;}
.conLeftPic img{ width:100px;}
.conTop{ width:1030px; height:40px; line-height:40px; padding:0px 10px; background-color:#f0f0f0; font-size:14px; font-weight:bold; position: relative;}
.conRight{ width:1030px; overflow:hidden; padding:10px; background-color:#fff; margin:0 auto; margin-top:156px;}
.successConRight{ width:1030px; overflow:hidden; padding:10px; background-color:#fff; margin:0 auto; }
.time{ width:300px; height:29px; text-align:right; height:29px; line-height:29px; font-size:14px; position: absolute; top:0px; right:10px;}
.time img{ vertical-align:middle; margin-right:10px;}
.time span{ font-size:16px; font-weight:bold; color:#F00;}
/*提交成功页*/
.successConRight p{ font-size:18px; text-align:center; line-height:30px; letter-spacing:1px;}
.successConRight p a{ font-size:18px; color:#00F;}
.conRight p{ font-size:18px; line-height:30px; letter-spacing:1px;}
.conRight p a{ font-size:18px; color:#00F;}